$transition-params: ease-in-out .3s;

$ff: "Roboto", sans-serif;
// $ff: Arial, Helvetica, sans-serif;
// $ff: "Arial Black", Gadget, sans-serif;
// $ff: "Comic Sans MS", cursive;
// $ff: "Courier New", Courier, monospace;
// $ff: Georgia, serif;
// $ff: Impact, Charcoal, sans-serif;
// $ff: "Lucida Console", Monaco, monospace;
// $ff: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
// $ff: "Palatino Linotype", "Book Antiqua", Palatino, serif;
// $ff: Tahoma, Geneva, sans-serif;
// $ff: "Times New Roman", Times, serif;
// $ff: "Trebuchet MS", Helvetica, sans-serif;
// $ff: Verdana, Geneva, sans-serif;
// $ff: Symbol;
// $ff: Webdings;
// $ff: Wingdings, "Zapf Dingbats";
// $ff: "MS Sans Serif", Geneva, sans-serif;
// $ff: "MS Serif", "New York", serif;

$fsz: 16px;
$lh: 1.2;

$fg: #000;
$fg--placeholder: #666;
$fg--bad: #f00;
$fg--good: #0f0;

$bg: #fff;