// BREADCRUMBS
nav.breadcrumbs
	ul.breadcrumbs__items
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#")
				span Главная
		li.breadcrumbs__item.breadcrumbs__item--sep /
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#")
				span Раздел
		li.breadcrumbs__item.breadcrumbs__item--sep /
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#")
				span Подраздел
		li.breadcrumbs__item.breadcrumbs__item--sep /
		li.breadcrumbs__item
			span Страница
// /BREADCRUMBS